/*清零*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table{border-collapse:collapse;	border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
a,
a:hover{text-decoration: none;}
q:before,q:after{content:'';}
a:focus{outline-style:none;}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%; /*to enable resizing for IE*/}
textarea{resize:none}
html,body{height: 100%;}
body{font-family: 'Arial','Microsoft YaHei','Noto Sans SC'; _font-family:simsun;}
input{ outline: none;}
input::-webkit-input-placeholder{color: #999999;}    
input:-moz-placeholder{color: #999999;}                     
input::-moz-placeholder{color: #999999;}                     
input:-ms-input-placeholder{color: #999999;}               
/* 公用 */
.wapper{ color: #fff; background:#021f39 url(../images/bg.jpg); background-position: top center; background-repeat: no-repeat;background-size: cover; background-attachment: fixed;}
.m-lf{float: left;}
.m-rg{float: right;}
.wapper .icon{ display: block; background: url(../images/icon.png) no-repeat; background-size: 129px 161px !important;}
.icon-item{ display: block; background: url(../images/icon_item.png) no-repeat; background-size: 470px 315px !important;}

.wapper .header{ position: fixed; top: 0; z-index: 1; width: 100%; height: 60px; background: #000; opacity: .8;}
.wapper .header .head-box{width: 1000px; height: 60px; line-height: 60px; margin: 0 auto; overflow: hidden;}
.wapper .header .img-box{ float: left; width: 84px; height: 30px;}
.wapper .header .img-box img{ width: 84px; height: 30px;}
.wapper .header .list-box{ display: inline-block; overflow: hidden;}
.wapper .header .list-box li{float: left; margin-left: 44px;  font-size: 16px;}
.wapper .header .list-box li a{color: #fff; opacity: .6;}
.wapper .header .list-box li.curr a{color: #FFAE74; opacity: 1;}
.wapper .header .login-box {overflow: hidden;}
.wapper .header .login-box li{float: left; margin-left: 22px; font-size: 16px;cursor: pointer;}
.wapper .header .login-box li a{color: #fff; }
.wapper .header .login-box li span{  display: inline-block; width: 20px; height: 20px; background: #ccc; border-radius: 50px; margin-right: 6px; vertical-align: text-bottom; overflow: hidden;}
.wapper .header .login-box li span img{ display: block; width: 20px; height: 20px;border-radius: 50px;}

/* 首页 */
.wapper-index{position: fixed;left: 0;right: 0;top: 0;bottom: 0; }

/* 介绍&查看详情 */
.wapper-index .introduce{width: 920px; height: 120px; margin: 90px auto 0; background: #000 url(../images/introduce.png) no-repeat; border-radius: 12px; box-sizing: border-box;}
.wapper-index .introduce .mod-main{ height: 100%; overflow: hidden;}
.wapper-index .icon-more{ margin: 40px 30px 0 0; width: 129px; height: 36px; line-height: 36px; text-align: center; color: #040404; background-position: 0 0;}

/* 轮播 */
.wapper-index .carousel{ position: relative; width: 920px; min-height: 550px; margin: 0 auto 0; mix-blend-mode: screen; overflow: hidden;}
.wapper-index .carousel .slide{ position: absolute; left: 50%; top: 50%; width: 100%; height: 550px; margin-left: -460px; margin-top: -275px;}
.wapper-index .carousel .mod-content{ height: 100%; overflow: hidden;}
.wapper-index .carousel .mod-video-box{ width: 300px; height: 600px; position: relative;}
.wapper-index .carousel video{ position: absolute; left: -65%; top: -30%; width: 950px; height: 950px;mix-blend-mode: screen;}
.wapper-index .carousel h3{ position: relative; z-index: 9; margin-top: 230px; font-size: 48px; line-height: 70px; font-weight: 500;}
.wapper-index .carousel p{ position: relative; z-index: 9; margin-top: 4px; font-size: 14px; line-height: 20px; color: #fff;}
.wapper-index .carousel p a{color: #fff; margin-left: 17px;}
.wapper-index .carousel .icon-light{ position: relative; z-index: 9; margin-top: 25px; font-size: 16px; width: 129px; height: 36px; line-height: 36px; text-align: center;color: #FFFFFF; font-weight: 500;background-position: 0 -51px;}
.wapper-index .carousel .icon-light:hover{  background-position: 0 -102px;}


/* 底导 */
.footer{ position: fixed; bottom: 0; width: 100%; padding: 22px 0; background: #000; }
.footer .mod-list{ width: 620px; margin: 0 auto 17px; text-align: center; overflow: hidden;}
.footer .mod-list li{ float: left; margin:0 20px; text-align: center; font-size: 14px; line-height: 19px; color: #666;}
.footer .mod-list li a{color: #fff;}
.footer p{ font-size: 14px; line-height: 20px; color: #999; text-align: center;}


/* 详情页面 */
.wapper-content .wapper{background: none;}
.wapper-content .footer{ position: relative;}
.wapper-content{ height: 100%; background: url(../images/bg.png); background-position: top center; background-repeat: no-repeat;background-size: cover; background-attachment: fixed; /*position: absolute;left: 0;right: 0;top: 0;bottom: 0;*/}
.wapper-content .main-box{ margin: 70px auto 10px; width: 1000px; min-height: 500px; overflow: auto; background: #000000;opacity: 0.85;border-radius: 2px;}
.wapper-content .mod-box{ height: calc(100vh);  margin: 40px 40px 0; overflow: hidden;}
.wapper-content .warp-box{width: 332px; height: 100%; float: left;}
.wapper-content .warp-box .m-tips{ margin-top: 10px; width: 92px; height: 24px; line-height: 24px; background: url(../images/icon_tips_bg.png) no-repeat; cursor: pointer;}
.wapper-content .warp-box .m-tips span{display: block; margin-left: 30px; font-size: 14px; color: #B6825C;}
.wapper-content .shape-box{ position: relative;  width: 332px; height: 332px; border: 7px solid rgba(228, 195, 165, 0.08); overflow: hidden;}
.wapper-content .shape-box video{ position: absolute; top: -35%; left: -40%; width: 600px; height: 600px;}
.wapper-content .article-box{ display: initial; margin-bottom: 40px;}
.wapper-content .article-box .marg-box{ padding-left: 40px; box-sizing: border-box; overflow: hidden;}
.wapper-content .article-box .text-box,
.wapper-content .article-box .price-box{ padding-bottom: 15px; border-bottom: 1px solid rgba(255,255,255,.1) ; overflow: hidden;box-sizing: border-box;}
.wapper-content .article-box .text-box h3{font-size: 20px;line-height: 29px; font-weight: 500;}
.wapper-content .article-box .text-box p{ margin-top: 2px; font-size: 14px;line-height: 20px;color: #FFFFFF;opacity: 0.6;}
.wapper-content .article-box .icon-invite{ display: inline-block; width: 18px; height: 18px; margin-right: 6px; background-position: 0 -143px; vertical-align: middle;}

.wapper-content .article-box .invite{ font-size: 14px;line-height: 20px;text-align: center; font-weight: 500; color: #B6825C; cursor: pointer;}
.wapper-content .article-box .price-box { padding-top: 20px;}
.wapper-content .article-box .price-box .m-text{margin-top: 15px;}
.wapper-content .article-box .price-box .m-number {font-size: 32px; font-weight: 500; line-height: 44px;}
.wapper-content .article-box .price-box .m-number b{font-size: 14px; font-weight: 500;}

.wapper-content .article-box .cont-box{ margin: 30px 0 0; padding-bottom: 30px; border-bottom: 1px solid rgba(255,255,255,.1); box-sizing: border-box;}
.wapper-content .article-box .sel-box,
.wapper-content .article-box .selId-box,
.wapper-content .article-box .time-box,
.wapper-content .article-box .explain-box{overflow: hidden;}


.wapper-content .article-box .sel-box .m-text{margin-top: 5px;}
.wapper-content .article-box .sel-box .mod-li{overflow: hidden;}
.wapper-content .article-box .sel-box .mod-li .mod-sel-txt{ float: left; margin-right: 10px; width: 74px; height: 30px; line-height: 30px; text-align: center; border: 1px solid #fff; border-radius: 2px; cursor: pointer;}
.wapper-content .article-box .sel-box .mod-li .mod-sel-txt:hover,
.wapper-content .article-box .sel-box .mod-li .mod-sel-txt.curr{border:none; color: #FFA552; background: url(../images/icon_line_bg_01.png) no-repeat;}

.wapper-content .article-box .selId-box{ margin-top: 14px;}
.wapper-content .article-box .selId-box .mod-dt{ margin-left: 70px; width: 478px;max-height: 303px;background: #000000;border: 1px solid #32251C;box-sizing: border-box;}
.wapper-content .article-box .selId-box .mod-dt .mod-scroll{ width: 498px;height: 100%; overflow: auto; padding: 4px; box-sizing: border-box;}
.wapper-content .article-box .selId-box .mod-dt ul{width: 468px;}
.wapper-content .article-box .selId-box .mod-dt ul li{margin-bottom: 1px; font-size: 12px; width: 469px; line-height: 30px; font-weight: 500; padding:0 12px; box-sizing: border-box;background: #29170A; cursor: pointer;}
.wapper-content .article-box .selId-box .mod-dt ul li span{ float: right; display: inline-block; vertical-align: middle;}
.wapper-content .article-box .selId-box .mod-dt ul li.m-txt-disable{opacity: 0.6;}
.wapper-content .article-box .selId-box .mod-dt ul li:hover,
.wapper-content .article-box .selId-box .mod-dt ul li.curr{background: url(../images/icon_line_bg_02.png) no-repeat;}
.wapper-content .article-box .selId-box .mod-dt ul li.m-txt-disable:hover{opacity: 0.6; background: #29170A;}

.wapper-content .article-box .time-box{margin-top: 20px;}
.wapper-content .article-box .time-box .mod-end{font-size: 14px; line-height: 20px; font-weight: 500;}
.wapper-content .article-box .time-box .icon-light{ position: relative; z-index: 9; margin-top: 25px;margin-left: 70px; font-size: 16px; width: 129px; height: 36px; line-height: 36px; text-align: center;color: #FFFFFF; font-weight: 500;background-position: 0 -51px;}
.wapper-content .article-box .time-box .icon-light:hover{  background-position: 0 -102px;}

.wapper-content .article-box .explain-box{ margin: 24px 0;}

.wapper-content .article-box .explain-box .mod-exp{ margin-left: 70px;}
.wapper-content .article-box .explain-box .mod-exp p{ margin-bottom: 20px; font-size: 14px; line-height: 20px; color: #fff; opacity: .5;}

.wapper-content .article-box .m-text{ font-size: 14px; width: 70px; line-height: 20px; color: #fff; font-weight: 500;}

/* 我的 */
.wapper-content .mod-total{font-size: 20px; line-height: 28px;}
.wapper-content .mod-total em{display: inline-block; font-size: 16px; opacity: .5; vertical-align: middle;}
.wapper-content .mod-slide{margin-top: 33px; }
.wapper-content .mod-slide .carousel-item{ min-height: 400px;}
.wapper-content .mod-slide .mod-title{ position: relative; z-index: 9; font-size: 18px; line-height: 26px; text-align: center; font-weight: 500; color: #fff;}
.wapper-content .mod-slide .mod-video{ position: relative; width: 400px; height: 400px; margin: 20px auto 0;}
.wapper-content .mod-slide .mod-video video{ position: absolute; left: -50%; top: -50%; width: 800px; height: 800px;}
.wapper-content .mod-slide .mod-speed{font-size: 12px; line-height: 17px; color: #fff; opacity: .5;}

.wapper .carousel-control-prev-icon { width: 43px; height: 70px; background-position: 0 0;}
.wapper .carousel-control-next-icon { width: 43px; height: 70px; background-position: -63px 0;}
   

.wapper-content .mod-info{margin: 45px 73px 0; min-height: 200px;  background: #1f1717; border-radius: 9px;}
.wapper-content .mod-info .card-warp{ padding: 35px 45px; box-sizing: border-box;}
.wapper-content .mod-info .mod-prudect{ overflow: hidden;}
.wapper-content .mod-info .img-box{ float: left; padding: 4px; background: #FFB800; border-radius: 5px; box-sizing: border-box;}
.wapper-content .mod-info .img-box img{ width: 56px; height: 56px;}
.wapper-content .mod-info .text-box{ float: left; margin-left: 15px;}
.wapper-content .mod-info .text-box h3{ font-size: 16px; line-height: 23px; font-weight: 500;}
.wapper-content .mod-info .text-box p{ margin-top: 8px; font-size: 12px; line-height: 17px; width: 212px; }
.wapper-content .mod-info .m-btn{ font-size: 14px; width: 158px; line-height: 36px; text-align: center; font-weight: 500; color: #4F290C; background-position: 0 -92px; cursor: pointer;}
.wapper-content .mod-info .m-btn:hover{ background-position: -167px -92px;}
.wapper-content .mod-info .mod-brief{ margin-top: 40px;}
.wapper-content .mod-info .mod-brief p{ font-size: 14px; line-height: 20px; margin-bottom: 20px;}

/* 弹层公用 */
.layer{ position: fixed; z-index: 98; left: 0; top: 0; right: 0; bottom: 0; overflow: hidden;}
.layer .mask{ position: fixed; z-index: 98; left: 0; top: 0; right: 0; bottom: 0; background: rgba(0,0,0,.4);}
.layer .content-box{position: fixed;z-index: 99; top:50%; left: 50%; padding: 16px 0; background: #fff; min-width: 500px; min-height: 200px; transform: translate(-50%,-50%);}
.layer .content-box .mod-title{ padding: 0 26px; line-height: 26px; overflow: hidden;}
.layer .content-box .mod-title h3{ font-size: 18px; font-weight: 500;color: #000;}
.layer .content-box .icon-item-close{ font-size: 0; width: 19px; height: 19px; background-position: -150px -198px; cursor: pointer;}
.layer .mod-error{ margin-bottom: 18px; height: 36px; line-height: 36px; font-size: 12px; color:#D00000;background: #FFD1D1;border: 1px solid #FEC4C4;box-sizing: border-box;border-radius: 2px;}
.layer .mod-error .icon-item-err{ display: inline-block; width: 16px; height: 16px; margin: 0 4px 0 10px; background-position: -230px -197px; vertical-align: -2px;}

/* 找回密码 */
.layer .mod-forgot-password{ margin: 23px 55px 25px; height: 300px;}
.layer .mod-forgot-password .mod-setup{ padding-top: 12px; margin-bottom: 26px; box-sizing: border-box; overflow: hidden;}
.layer .mod-forgot-password .mod-setup .mod-line{ width: 300px; height: 1px; margin: 0 auto; background: #EEEEEE;}
.layer .mod-forgot-password .mod-setup .mod-dot{ float: left; width: 33.33%; margin: -12px auto 0; }
.layer .mod-forgot-password .mod-setup .mod-dot span{display: block; margin: 0 auto; width: 24px; height: 24px; line-height: 24px; font-size: 12px; text-align: center; color: #fff; background: #C4C4C4; border-radius: 50px;}
.layer .mod-forgot-password .mod-setup .mod-dot.curr span{ background: #000;}
.layer .mod-forgot-password .mod-setup .mod-dot em{display: block; margin: 0 auto; font-size: 12px; line-height: 17px; text-align: center;  line-height: 24px; font-size: 12px; text-align: center; color: #999999; }
.layer .mod-forgot-password .mod-setup .mod-dot.curr em{ color: #666666;}

.layer .mod-forgot-password .mod-li{ margin-bottom: 14px; font-size: 14px; color: #000; overflow: hidden;}
.layer .mod-forgot-password h3{ line-height: 20px; margin-bottom: 12px; font-weight: 500;}
.layer .mod-forgot-password .warp-box{ position: relative;width: 430px; height: 50px; overflow: hidden;}
.layer .mod-forgot-password .w-ipnt{ float: left; width: 430px; height: 50px; padding-left: 15px; background: none; border: 1px solid #DDDDDD; border-radius: 2px; outline: none;}
.layer .mod-forgot-password .w-ipnt-code{ width: 173px;}
.layer .mod-forgot-password .mod-code{ float: left; margin-left: 12px; width: 113px; height: 50px; text-align: center; border: 1px solid #DDDDDD; border-radius: 2px; overflow: hidden;}
.layer .mod-forgot-password .m-text{ display: inline-block; width: 70px; font-size: 12px; line-height: 50px; text-align: center; color: #507DAF; cursor: pointer;}
.layer .mod-forgot-password .m-forget{ position: relative;top: -15px; font-size: 12px; line-height: 17px; color: #507DAF;}
.layer .mod-forgot-password .mod-dt{margin-top: 28px ;}
.layer .mod-forgot-password .mod-dt .m-btn{ display: block; width: 100%; height: 50px; line-height: 50px; font-weight: 500; color: #fff; text-align: center; background: #000; border-radius: 2px;}
.layer .mod-forgot-password .mod-dt p{ margin-top: 17px; font-size: 12px; line-height: 17px; color: #507DAF; text-align: center;}

/* setup-2 */
.layer .mod-forgot-password .mod-set-main{width: 435px;}
.layer .mod-forgot-password .mod-set-main h3{margin-top: 60px;}
.layer .mod-forgot-password .mod-set-main p{ font-size: 14px; color: #999999; line-height: 20px;}
.layer .mod-forgot-password .mod-set-main .mod-dt{margin-top: 67px;}
/* setup-3 */
.layer .mod-forgot-password .mod-set-main .mod-dt{margin-top: 28px;}

/* 登录 */
.layer .mod-sign-in{ margin: 25px 55px 0;}
.layer .mod-sign-in .mod-li{ margin-bottom: 20px; font-size: 14px; color: #000; overflow: hidden;}
.layer .mod-sign-in h3{ line-height: 20px; margin-bottom: 2px;}
.layer .mod-sign-in .warp-box{ position: relative;width: 430px; height: 50px; overflow: hidden;}
.layer .mod-sign-in .w-ipnt{ width: 430px; height: 50px; padding-left: 35px; background: none; border: 1px solid #DDDDDD; border-radius: 2px; outline: none;}
.icon-item-user{ position: absolute; left: 11px; top: 17px; width: 15px; height: 17px; background-position: -99px -198px;}
.icon-item-password{ position: absolute; left: 11px; top: 17px; width: 15px; height: 17px; background-position: -125px -198px;}
.layer .mod-sign-in .m-forget{ position: relative;top: -15px; font-size: 12px; line-height: 17px; color: #507DAF;}
.layer .mod-sign-in .mod-dt{margin-top: 28px ;}
.layer .mod-sign-in .mod-dt .m-btn{ display: block; width: 100%; height: 50px; line-height: 50px; font-weight: 500; color: #fff; text-align: center; background: #000; border-radius: 2px;}
.layer .mod-sign-in .mod-dt p{ margin-top: 17px; font-size: 12px; line-height: 17px; color: #507DAF; text-align: center; cursor: pointer;}

/* 注册 */
.layer .mod-found{ margin: 25px 55px 0;}
.layer .mod-found .mod-li{ margin-bottom: 8px; font-size: 14px; color: #000; overflow: hidden;}
.layer .mod-found h3{ line-height: 20px; margin-bottom: 2px;}
.layer .mod-found .warp-box{ position: relative;width: 430px; height: 50px; overflow: hidden;}
.layer .mod-found .w-ipnt{ width: 430px; height: 50px; padding-left: 10px; background: none; border: 1px solid #DDDDDD; border-radius: 2px; outline: none;}
.layer .mod-found .w-ipnt-code{ width: 320px;}
.layer .mod-found .m-text{ display: inline-block; width: 104px; font-size: 12px; text-align: center; color: #507DAF; cursor: pointer;}
.layer .mod-found .m-grey{ color: #999999;}

.layer .mod-found .mod-agreement{ margin-top: 10px; font-size: 12px; line-height: 17px; color: #999;}
.layer .mod-found .mod-agreement .check-box{ display: inline-block;}
.layer .mod-found .mod-agreement .w-checked{width: 16px; height: 16px; background: none; border: 1px solid #ddd; border-radius: 2px;}
.layer .mod-found .mod-agreement em{ display: inline-block; vertical-align: top;}
.layer .mod-found label{ margin-bottom: 0;}
.layer .mod-found .mod-dt{margin-top: 28px ;}
.layer .mod-found .mod-dt .m-btn{ display: block; width: 100%; height: 50px; line-height: 50px; font-weight: 500; color: #fff; text-align: center; background: #000; border-radius: 2px;}
.layer .mod-found .mod-dt p{ margin-top: 17px; font-size: 12px; line-height: 17px; color: #999; text-align: center;}
.layer .mod-found .mod-dt p span{color: #507DAF;}

/* 支付 */
.layer .mod-pay{ margin: 20px 0 0;}
.layer .mod-pay .mod-order{ height: 48px; line-height: 48px; margin: 0 26px; background: #000; border-radius: 2px; box-sizing: border-box;}
.layer .mod-pay .mod-order p{ font-size: 14px;  margin: 0 15px; color: #fff; }
.layer .mod-pay .mod-order p b{display: inline-block; margin-right: 5px;  font-size: 24px; font-weight: 500; }
.layer .mod-pay .mod-order p em{ display: inline-block;  font-weight: 500;}

.layer .mod-pay .mod-tab{ margin-top: 12px;}
.layer .mod-pay .mod-tab ul{ margin-left: 26px; overflow: hidden;}
.layer .mod-pay .mod-tab ul li{ position: relative; float: left; color: #000; padding: 0 18px; font-size: 14px; height: 36px; line-height: 36px; box-sizing: border-box; cursor: pointer; }
.layer .mod-pay .mod-tab ul li.curr{ z-index: 1; border: 1px solid #e8e8e8; border-bottom: none; background: #F4F4F4; border-radius: 4px 4px 0 0;}
.layer .mod-pay .mod-col{ margin-top: -1px; min-height: 100px; background: #F4F4F4; border-top: 1px solid #e8e8e8;border-bottom: 1px solid #e8e8e8;}
.layer .mod-pay .mod-col .mod-main{ margin: 10px 26px 26px; overflow: hidden;}
.layer .mod-pay .mod-col .mod-main h3{ margin-top: 18px; font-size: 14px;color: #000; }
.layer .mod-pay .mod-col .mod-pay-list{ min-width: 500px; margin-top: 16px; overflow: hidden;}
.layer .mod-pay .mod-col .mod-pay-list dd{ float: left; margin-right: 10px;}
.layer .mod-pay .mod-col .icon-item-pay01{ display: block; width:56px; height: 34px; background-position: -1px -150px;}
.layer .mod-pay .mod-col .icon-item-pay02{ display: block; width:56px; height: 34px; background-position: -62px -150px;}
.layer .mod-pay .mod-col .icon-item-pay03{ display: block; width:56px; height: 34px; background-position: -123px -150px;}
.layer .mod-pay .mod-col .mod-inpt{ margin-top: 8px;margin-left: -7px;  overflow: hidden;}
.layer .mod-pay .mod-col .mod-inpt dt{ float: left; font-weight: normal; color: rgba(0,0,0,.4);}
.layer .mod-pay .mod-col .mod-inpt input{ margin: 0 7px; width: 102px; height: 40px; line-height: 40px; padding-left: 10px; font-weight: normal; background: none; border:1px solid #ddd; box-sizing: border-box; border-radius: 2px; box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.15);}
.layer .mod-pay .mod-col .mod-name input{ width: 225px;}

/*虚拟*/
.layer .mod-pay .mod-col .mod-fictitious{ margin-bottom: 15px;}
.layer .mod-pay .mod-col .mod-card{ margin: 10px 0; font-size: 14px; height: 63px; line-height: 63px; padding: 0 16px; border: 1px solid #ddd;box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.15);border-radius: 4px; background: #fff; box-sizing: border-box; cursor: pointer;}
.layer .mod-pay .mod-col .mod-card .m-radio{vertical-align: -3px; width: 16px; height: 16px;}
.layer .mod-pay .mod-col .mod-card .icon-blue{ display: inline-block; margin: 0 4px 0 10px; width: 32px; height: 32px; background: #60B9FA; border-radius: 4px; vertical-align: middle;}
.layer .mod-pay .mod-col .mod-card-disable {opacity: .3; cursor: default;}
.layer .mod-pay .mod-col .m-text{ margin-top: 7px; font-size: 12px; color: #999;}

.layer .mod-footer { padding: 25px 0 0; box-sizing: border-box;}
.layer .mod-footer span{ display: block; width: 140px; height: 40px; line-height: 40px; margin: 0 auto; text-align: center; color: #fff; background: #000; border-radius: 2px; cursor: pointer;}
.layer .mod-footer p{ margin-top: 16px; font-size: 12px; line-height: 17px; color: #999; text-align: center;}




/* NFT信息 */
.layer .mod-nft-info{ margin-top: 16px; border-top: 1px solid rgba(0,0,0,.1);}
.layer .mod-nft-info .nft-list{ margin: 30px 60px 30px 26px; overflow: hidden;}
.layer .mod-nft-info .nft-list li{ margin-bottom: 20px; font-size: 14px; color: #333; overflow: hidden;}
.layer .mod-nft-info .nft-list .icon-item-nft01{float: left; width: 24px; height: 24px; background-position: -1px -193px;}
.layer .mod-nft-info .nft-list .icon-item-nft02{float: left; width: 24px; height: 24px; background-position: -31px -193px;}
.layer .mod-nft-info .nft-list .icon-item-nft03{float: left; width: 24px; height: 24px; background-position: -61px -193px;}
.layer .mod-nft-info .nft-list .m-txt{width: 455px;  margin-left: 35px; color: #000;}
.layer .mod-nft-info .nft-list h4{ display: block; font-size: 14px; margin-top: 6px;  color: #666; line-height: 20px;word-break: break-all;}




@media screen and (min-width: 1024px) and (max-width: 1440px) {
.wapper .icon{  background-size: 103px 129px !important;}
/* 首页 */
.wapper-index .header{ height:48px; }
.wapper-index .header .head-box{width: 900px; height: 48px; line-height: 48px; }
.wapper-index .header .img-box{ width: 67px; height: 24px;}
.wapper-index .header .img-box img{ width: 67px; height: 24px;}
.wapper-index .header .list-box li{ margin-left: 35px;  font-size: 13px;}
.wapper-index .header .login-box li{ margin-left: 18px; font-size: 13px;}

/* 介绍&查看详情 */
.wapper-index .introduce{width: 736px; height: 96px; margin: 72px auto 0; border-radius: 10px; background-size: 736px 96px;}
.wapper-index .icon-more{ margin: 32px 24px 0 0; width: 103px; height: 29px; line-height: 29px;}

/* 轮播 */
.wapper-index .carousel{width: 736px; min-height: 440px; }
.wapper-index .carousel .slide{ height: 440px; margin-left: -368px; margin-top: -220px;}
.wapper-index .carousel .mod-video-box{ width: 240px; height: 480px; position: relative;}
.wapper-index .carousel video{ left: -65%; top: -30%; width: 760px; height: 760px;}
.wapper-index .carousel h3{  margin-top: 184px; font-size: 38px; line-height: 56px; }
.wapper-index .carousel p{ margin-top: 3px; font-size: 12px; line-height: 16px; }
.wapper-index .carousel p a{ margin-left: 14px;}
.wapper-index .carousel .icon-light{  margin-top: 20px; font-size: 13px; width: 103px; height: 29px; line-height: 29px; background-position: 0 -41px;}
.wapper-index .carousel .icon-light:hover{  background-position: 0 -82px;}

.wapper-content .article-box .time-box .icon-light{ margin-top: 20px; margin-left: 70px; font-size: 13px; width: 103px; height: 29px; line-height: 29px; background-position: 0 -41px;}
.wapper-content .article-box .time-box .icon-light:hover{  background-position: 0 -82px;}

/* 底导 */
.footer{  height: 80px; padding: 18px 0; }
.footer .mod-list{ width: 520px; margin: 0 auto 11px; }
.footer .mod-list li{ margin:0 16px;  font-size: 11px; line-height: 15px; }
.footer p{ font-size: 11px; line-height: 16px; }

/*详情*/
.wapper-content .article-box .icon-invite{ display: inline-block; width: 14px; height: 14px; margin-right: 5px; background-position: 0 -115px; vertical-align: middle;}

}