/*清零*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td {margin:0;padding:0;}
table{border-collapse:collapse;	border-spacing:0;}
fieldset,img{border:0;}
address,caption,cite,code,dfn,em,th,var,i{font-style:normal;font-weight:normal;}
ol,ul{list-style:none;}
caption,th{text-align:left;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
a,
a:hover{text-decoration: none;}
q:before,q:after{content:'';}
a:focus{outline-style:none;}
abbr,acronym{border:0;font-variant:normal;}
sup{vertical-align:text-top;}
sub{vertical-align:text-bottom;}
input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;*font-size:100%; /*to enable resizing for IE*/}
textarea{resize:none}

body{font:14px/1.3 'Arial','Microsoft YaHei','Noto Sans SC'; _font-family:simsun;}
/* ::selection{background:#eb7350;color:#fff;}
:focus{ outline-color:#eb7350;} */

/* 公用 */
.wapper{ background:#021f39 url(../images/bg.jpg) no-repeat;color: #fff;}
.wapper .m-lf{float: left;}
.wapper .m-rg{float: right;}
.wapper .icon{ display: block; background: url(../images/icon.png) no-repeat; background-size: 129px 161px !important;}

/* 首页 */
.wapper-index{position: fixed;left: 0;right: 0;top: 0;bottom: 0;}
.wapper-index .header{width: 100%; height: 60px; background: #000; opacity: .8;}
.wapper-index .header .head-box{width: 1000px; height: 60px; line-height: 60px; margin: 0 auto; overflow: hidden;}
.wapper-index .header .img-box{ float: left; width: 84px; height: 30px;}
.wapper-index .header .img-box img{ width: 84px; height: 30px;}
.wapper-index .header .list-box{ display: inline-block; overflow: hidden;}
.wapper-index .header .list-box li{float: left; margin-left: 44px;  font-size: 16px;}
.wapper-index .header .list-box li a{color: #fff; opacity: .6;}
.wapper-index .header .list-box li.curr a{color: #FFAE74; opacity: 1;}
.wapper-index .header .login-box {overflow: hidden;}
.wapper-index .header .login-box li{float: left; margin-left: 22px; font-size: 16px;}
.wapper-index .header .login-box li a{color: #fff; }

/* 介绍&查看详情 */
.wapper-index .introduce{width: 920px; height: 120px; margin: 30px auto 0; background: #000 url(../images/introduce.png) no-repeat; border-radius: 12px; box-sizing: border-box;}
.wapper-index .introduce .mod-main{ height: 100%; overflow: hidden;}
.wapper-index .icon-more{ margin: 40px 30px 0 0; width: 129px; height: 36px; line-height: 36px; text-align: center; color: #040404; background-position: 0 0;}

/* 轮播 */
.wapper-index .carousel{ position: relative; width: 920px; min-height: 550px; margin: 0 auto 0; overflow: hidden;}
.wapper-index .carousel .slide{ position: absolute; left: 50%; top: 50%; width: 100%; height: 550px; margin-left: -460px; margin-top: -275px;}
.wapper-index .carousel .mod-content{ height: 100%; overflow: hidden;}
.wapper-index .carousel .mod-video-box{ width: 300px; height: 600px; position: relative;}
.wapper-index .carousel video{ position: absolute; left: -65%; top: -30%; width: 950px; height: 950px;mix-blend-mode: screen;}
.wapper-index .carousel h3{ margin-top: 230px; font-size: 48px; line-height: 70px; font-weight: 500;}
.wapper-index .carousel p{ margin-top: 4px; font-size: 14px; line-height: 20px; color: #fff;}
.wapper-index .carousel p a{color: #fff; margin-left: 17px;}
.wapper-index .carousel .icon-light{ margin-top: 25px; font-size: 16px; width: 129px; height: 36px; line-height: 36px; text-align: center;color: #FFFFFF; font-weight: 500;background-position: 0 -51px;}
.wapper-index .carousel .icon-light:hover{  background-position: 0 -102px;}

/* 底导 */
.footer{ position: absolute; bottom: 0; width: 100%; height: 100px; background: #000; }
.footer .mod-list{ width: 620px; margin: 22px auto 17px; text-align: center; overflow: hidden;}
.footer .mod-list li{ float: left; margin:0 20px; text-align: center; font-size: 14px; line-height: 19px; color: #666;}
.footer .mod-list li a{color: #fff;}
.footer p{ font-size: 14px; line-height: 20px; color: #999; text-align: center;}