/* 样式重置 */
html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  font-family: "PingFang SC";
  width: 100%;
  height: 100%;
  word-wrap: break-word;
  -webkit-overflow-scrolling: auto;
  -webkit-font-smoothing: antialiased;
  color: rgba(0, 0, 0, 1);
  margin: 0 auto;
}

a{ text-decoration: none;}
*{ margin: 0; padding: 0;}


.M-merchant{ overflow: hidden;}
.M-merchant .mod-warp{ font-size: .875rem; color: #555; padding: .875rem 0; margin: 0 .8125rem; border-bottom: .125rem solid #F5F5F5; overflow: hidden;}
.M-merchant .mod-warp .m-lf{float: left;}
.M-merchant .mod-warp .m-rg{float: right;}

.M-picture{ overflow: hidden;}
.M-picture img{display: block; font-size: 0; width: 100%; object-fit: cover;}