@charset "utf-8";
*{margin: 0; padding: 0;}
h3,h4,em{font-weight: normal; font-style: normal;}
ul li{list-style: none;}
html{background: #fff; height: 100%;font-family: 'Arial','PingFang SC','Microsoft YaHei';-webkit-font-smoothing: antialiased;}
.main{ position: relative; width: 1132px;min-height: 1000px; border: 6px solid #4F6378;  margin: 100px;}
.edge-left{position: absolute; z-index: 2; left: -8px; top: -8px; width: 113px; height: 113px;}
.edge-right{position: absolute; z-index: 2; right: -8px; top: -8px; width: 113px; height: 113px;}
.edge-footer-left{position: absolute; z-index: 2; left: -8px; bottom: -8px; width: 113px; height: 113px;}
.edge-footer-right{position: absolute; z-index: 2; right: -8px; bottom: -8px; width: 113px; height: 113px;}
.edge img{width: 113px; height: 113px;}
.box{width: 1078px; min-height: 1000px; border: 2px solid #4F6378; margin: 27px auto; }
.m-text-cut{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
.content{width: 708px; margin: 0 auto 46px;}
.content h3{font-size: 84px; line-height: 84px; font-weight: bold; color: #000; margin: 103px 0 34px;text-align: center; }
.content h4{font-size: 20px;color: #555555;line-height: 20px; margin-bottom: 22px;}
.content p{font-size: 20px;color: #555555;line-height: 20px; margin-bottom: 34px; overflow: hidden;}
.content p span{display: inline-block;} 
.content p .m-left{float: left;}
.content p .m-right{float: right;}
.content .picIMG{position: relative; height: 430px; margin-bottom: 33px; overflow: hidden;}
.content .picIMG img{display: block;font-size: 0;height: 100%;margin: 0 auto;}
.content ul li{font-size: 20px;line-height: 20px; color: #555555; margin-bottom: 22px; overflow: hidden;}
.content ul li span,
.content ul li em{display: inline-block;line-height: 23px;}
.content ul li span{text-align: left; float: left; width: 20%;}
.content ul li em{text-align: right; float: right; width: 78%;}
.footer{margin: 0 50px 50px 45px;}
.footer dl{ position: relative; white-space: nowrap;overflow: hidden;}
.footer dl dt{ font-size: 0; }
.footer dl dt img{font-size: 0; width: 100%;}
.footer dl dt.logo{position: absolute; width: 20%; bottom: 0; }
.footer dl dt.autograph{position: absolute; width: 60%; left: 50%; margin: 0 0 20px -30%; text-align: center; overflow: hidden;}
.footer dl dt.autograph img{width:333px; height: 129px; margin: 0 auto;}
.footer dl dt.code{ width: 20%; float: right;}
.footer dl dt .line{ position: absolute; left: 50%; bottom: 0; width: 333px; margin-left: -166px; border: 1px solid #D8D8D8;}