@charset "utf-8";
*{margin: 0; padding: 0;}
h3,h4,em,strong{font-weight: normal; font-style: normal;}
ul li{list-style: none;}
table{margin: 0; padding: 0; border: 0;border-collapse: collapse;border-spacing: 0;}
html{background: #fff; height: 100%;-webkit-font-smoothing: antialiased;}
html,body{font-family: 'Arial','PingFang SC','Microsoft YaHei';}
.main{ position: relative; width: 1119px;height: 1487px;  margin: 50px 0 50px 45px; overflow: hidden;}
.box{ position: relative; width: 1074px; height: 1487px;}
.box h3{  overflow: hidden;}
.box h3 img{ float: left; display: block; font-size: 0; width: 188px; height: 67px;}
.box h3 span{ display: block; font-size: 28px; text-align: center; line-height: 67px; }
.m-text-cut{white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}

/* content */
.content{ margin-top: 40px; }

/*表格mod*/
.M-table{width: auto;margin-top: 35px;}
.M-table table{width: 100%;}
.M-table table th{text-align: center; height: 36px; box-sizing: border-box;}
.M-table table td{position: relative; text-align: center;}
.M-table table th:first-child,
.M-table table td:first-child{padding-left: 10px !important;}
.M-table .mod-title th,
.M-table .mod-content td{position: relative;font-size: 14px;font-weight: normal;white-space: nowrap;}
.M-table .mod-title th i,
.M-table .mod-content td .mcn-font-arrow-down{vertical-align: text-top; cursor: pointer; font-size: 14px; color: #A6A9AB; margin-left: 2px;}
.M-table .mod-title tr{background: #fafafa;}
.M-table .mod-title tr,
.M-table .mod-content tr{position: relative; }
.M-table .mod-content{ padding: 15px 0 0; box-sizing: border-box;}
.M-table .mod-content tr td{padding: 13px 0; box-sizing: border-box;}
.M-table .mod-content{background: #fff; }
.M-table .mod-box{width: 100%;}
.M-table .mod-content .mcn-font-operation{color: #aaa;cursor: pointer;}
.M-table .m-tit{ display: block; width: 185px; margin: 0 auto; text-align: left;}

/*合计*/
.content .mod-count{ height: 60px; line-height: 70px; border-top: 1px solid #eee;border-bottom: 1px solid #eee; overflow: hidden;}
.content .mod-count p{ text-align: right; font-size: 14px; padding-right: 36px;box-sizing: border-box;}
.content .mod-count > div {float: left; font-size: 14px;}
.content .mod-count .m-left{ width: 81.5%; text-align: right; padding-right: 40px; border-right: 1px solid #eee; box-sizing: border-box;}
.content .mod-count .m-right{ width: 10%; padding-left: 40px; box-sizing: border-box;}

/*基本信息*/
.mod-texts{ margin-top: 50px;}
.mod-texts ul{margin-left: 25px;}
.mod-texts ul li{ line-height: 28px; font-size: 14px; color: #9d9d9d;}
.mod-texts ul li em{display: inline-block; width: 145px; }
.mod-texts ul li span{ display: inline-block; color: #000;}

/*底部*/
.footer{position: absolute;width: 100%; height: 70px; bottom: 50px;}
.footer .mod-left {position: absolute;width: 141px; height: 50px; left: 20px; bottom: 0;}
.footer .mod-right {position: absolute; right: 0; bottom: 0;}
.footer .mod-text{ font-size: 14px; overflow: hidden;}
.footer .mod-text h3{margin-bottom: 25px;font-size: 14px;} 
.footer img{ display: block; width: 141px; height: 50px;}

